* {
    border:0;
    margin: 0;
    box-sizing: border-box;
}
.contenedor {
    /* border: 5px solid red; */
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 100px auto / 0.2fr 1fr;
}
.header {
    background: #3064ea;
    grid-row: 1/2;
    grid-column: 1/3;
    position: relative;
    /* grid-template-areas: "";  */
    
}
.titulo {
    color: #ffffff;
    margin: -25px 0 0 -25px;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 40%;
    /* font-family: "Oswald"; */
    font-size: 2em;
    font-weight: bold;
}
.botones {
    position: relative;
    width: 150px;
    left: 1235px;
    top: 40px;
    background: #1e1eeb;
    color: #ffffff;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); */
    cursor: pointer;
}
/* .botones:hover{
    background-color: #b3b1b1;
} */

.menu {
    /* background: rgb(128, 29, 29); */
    grid-row: 2/3;
    grid-column: 2/3;
}

#usuario {
    color: rgb(0, 0, 0);
    margin: 60px;
    font-family: "Oswald";
    font-size: 50px;
    text-align: justify;
    position: absolute;
    left: 600px;
    top: 50px;
}
#user{
    margin: 30px;
    border:  2px solid #000000;
    font-family: "Oswald";
    font-size: 30px;
    text-align: justify;
    position: absolute;
    left: 480px;
    top: 170px;
    background: #ffffff;
    opacity: 0.7;
    width: 480px;
    height: 36px;
    color: #eb0000;
}
  /* input::placeholder{
      color: #110f0f;
  } */
#contraseña {
    color: rgb(0, 0, 0);
    margin: 60px;
    font-family: "Oswald";
    font-size: 50px;
    text-align: justify;
    position: absolute;
    left: 550px;
    top: 200px;
}
#password{
    margin: 30px;
    border: 2px solid #000000;
    font-family: "Oswald";
    font-size: 30px;
    text-align: justify;
    position: absolute;
    left: 480px;
    top: 320px;
    background: #ffffff;
    opacity: 0.7;
    width: 480px;
    height: 36px;
    color: #eb0000;
}

#email {
    color: rgb(0, 0, 0);
    margin: 60px;
    font-family: "Oswald";
    font-size: 50px;
    text-align: justify;
    position: absolute;
    left: 620px;
    top: 350px;
}
#correo{
    margin: 30px;
    border: 2px solid #000000;
    font-family: "Oswald";
    font-size: 30px;
    text-align: justify;
    position: absolute;
    left: 480px;
    top: 450px;
    background: #ffffff;
    opacity: 0.7;
    width: 480px;
    height: 36px;
    color: #eb0000;
}
#nombre {
    color: rgb(0, 0, 0);
    margin: 60px;
    font-family: "Oswald";
    font-size: 50px;
    text-align: justify;
    position: absolute;
    left: 580px;
    top: 470px;
}
#name{
    margin: 30px;
    border: 2px solid #000000;
    font-family: "Oswald";
    font-size: 30px;
    text-align: justify;
    position: absolute;
    left: 480px;
    top: 580px;
    background: #ffffff;
    opacity: 0.7;
    width: 480px;
    height: 36px;
    color: #eb0000;
}
#apellido {
    color: rgb(0, 0, 0);
    margin: 60px;
    font-family: "Oswald";
    font-size: 50px;
    text-align: justify;
    position: absolute;
    left: 580px;
    top: 610px;
}
#lastname{
    margin: 30px;
    border: 2px solid #000000;
    font-family: "Oswald";
    font-size: 30px;
    text-align: justify;
    position: absolute;
    left: 480px;
    top: 730px;
    background: #ffffff;
    opacity: 0.7;
    width: 480px;
    height: 36px;
    color: #eb0000;
}

.boton{
    text-align: center;
    position: relative;
    top: 710px;
    left: 400px;
    /* margin-top: 950px;
    margin-left: 230px; */
    /* margin-right: 150px; */
    width: 160px;
    height: 40px;
    background: #1e1eeb;
    /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); */
    /* border: 2px solid #f60505; */
    border-radius: 10px;
    cursor: pointer;
    font-family: "Oswald";
    font-size: 23px;
    color: #ffffff;
 
}

.boton2{
    text-align: center;
    position: relative;
    top: 730px;
    left: 410px;
    /* margin-bottom: 450px;
    margin-left: 530px; */
    /* margin-right: 150px; */
    width: 160px;
    height: 40px;
    background: #1e1eeb;
    /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); */
    /* border: 2px solid #f60505; */
    border-radius: 10px;
    cursor: pointer;
    font-family: "Oswald";
    font-size: 23px;
    color: #ffffff;
 
}
/* .boton2:hover{
      background-color: #b3b1b1;
} */
#texto{
    color: rgb(0, 0, 0);
    margin: 60px;
    font-family: "Oswald";
    font-size: 30px;
    text-align: justify;
    position: absolute;
    left: 530px;
    top: 1020px;
}
#imgcorrupcion{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    position: absolute;
    left: 40px;
    top: 12px;
}
  