#content {
  margin-left: 12%;
  margin-top: 5%;
  padding: 15px;
  height: 150%;
  border-radius: 10px;
  text-align: center;
  width: 75%;
}

#container {
  display: grid;
  grid-template: auto / 50% 50%;
}


#titleImplicados {
  grid-column: 1 / 3;
}

#combo-box {
  width: 75%;
  background: #d8d8d8;
  height: 1.5rem;
}
