#content {
  margin-left: 8%;
  margin-top: 5%;
  padding: 15px;
  height: 150%;
  background: #ffffff;
  border-radius: 10px;
  text-align: center;
  width: 85%;
}

.imgPartidos {
  width: 50px;
  height: 50px;
  margin-top: 12px;
  border-radius: 50px;
}

#partidos {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}

#procesos {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}
#implicados {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}

#titleTable {
  border: 1px solid #000;
  height: 50px;
  text-align: center;
  background: #3064ea;
}

th {
  background: #678def;
}

th,
td {
  /* width: 25%; */
  height: 50px;
  text-align: center;
  border: 1px solid #000;
}

.Nombres {
  width: 9%;
}

.startDate {
  width: 9%;
}

.endDate {
  width: 9%;
}
.entidad {
  width: 9%;
}

.monto {
  width: 9%;
}

.cproceso {
  width: 9%;
}
.estado {
  width: 9%;
}

.acusacion {
  width: 9%;
}

.declarado {
  width: 9%;
}
.pena {
  width: 9%;
}

.cimplicacion {
  width: 9%;
}
.partido {
  width: 15%;
}
.fechaacusacion {
  width: 10%;
}
select {
  width: 75%;
  background: #e9e9e9;
  text-align: center;
  height: 1.5rem;
}
