*{
    border:0;
    margin: 0;
    box-sizing: border-box;
}

#tabla{
    margin: 50px ;
    width: 600px;
    position: relative;
    top: 5px;
    left: 250px;
}
#tabla2{
    margin: 50px ;
    width: 600px;
    position: relative;
    top: 10px;
    left: 300px;
}
caption{
    background-color: #3064EA;
    border: solid 1px #000000;
}
table{
    text-align: left;
    border-collapse: collapse;
}
th, td{
    border: solid 1px #000000;
    padding: 20px;
}
thead{
    background-color: #678DEF;
}
#header{
    text-align: center;
    margin: 50px ;
    width: 600px;
    position: relative;
    top: 10px;
    left: 390px;
}

