* {
    border:0;
    margin: 0;
    box-sizing: border-box;
}
.fas{
    width: 700px;
    height: 700px;
    position: absolute;
    left: 400px;
    top: 420px;
    font-size: 70px;
}
.botonesf1 {
    position: absolute;
    left: 400px;
    top: 600px;
    width: 150px;
    background: #1e1eeb;
    color: #ffffff;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}
.botonesf2 {
    position: absolute;
    left: 800px;
    top: 600px;
    width: 150px;
    background: #1e1eeb;
    color: #ffffff;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}


