* {
    border:0;
    margin: 0;
    box-sizing: border-box;
}
#usuario {
    color: rgb(0, 0, 0);
    margin: 60px;
    font-family: "Oswald";
    font-size: 50px;
    text-align: justify;
    position: absolute;
    left: 600px;
    top: 50px;
}
#user{
    margin: 30px;
    border:  2px solid #000000;
    font-family: "Oswald";
    font-size: 30px;
    text-align: justify;
    position: absolute;
    left: 480px;
    top: 170px;
    background: #ffffff;
    opacity: 0.7;
    width: 480px;
    height: 36px;
    color: #eb0000;
}

#apellido {
    color: rgb(0, 0, 0);
    margin: 60px;
    font-family: "Oswald";
    font-size: 50px;
    text-align: justify;
    position: absolute;
    left: 600px;
    top: 200px;
}
#lastname{
    margin: 30px;
    border: 2px solid #000000;
    font-family: "Oswald";
    font-size: 30px;
    text-align: justify;
    position: absolute;
    left: 480px;
    top: 320px;
    background: #ffffff;
    opacity: 0.7;
    width: 480px;
    height: 36px;
    color: #eb0000;
}
#fecha {
    color: rgb(0, 0, 0);
    margin: 60px;
    font-family: "Oswald";
    font-size: 50px;
    text-align: justify;
    position: absolute;
    left: 480px;
    top: 350px;
}
#date{
    margin: 30px;
    border: 2px solid #000000;
    font-family: "Oswald";
    font-size: 30px;
    text-align: justify;
    position: absolute;
    left: 480px;
    top: 470px;
    background: #ffffff;
    opacity: 0.7;
    width: 480px;
    height: 36px;
    color: #eb0000;
}
.botonesf1 {
    position: absolute;
    left: 500px;
    top: 600px;
    width: 150px;
    height: 30px;
    background: #1e1eeb;
    color: #ffffff;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}
.botonesf2 {
    position: absolute;
    left: 800px;
    top: 600px;
    width: 150px;
    background: #1e1eeb;
    color: #ffffff;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    height: 30px;
}