*{
  margin: 0px;
  padding: 0px;
}
.contenedor {
  /* border: 5px solid red; */
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 120px auto / 0.2fr 1fr;
}
.header {
  background: #1e4abb;
  grid-row: 1/2;
  grid-column: 1/3;
  /* grid-template-areas: "";  */
}
.titulo {
  color: #fdfdfd;
  line-height: 0.5;
  font-size: 3em;
  text-align: center;

  font-family: "Oswald";
  font-size: 50px;
}

.menu {
  /* background: rgb(128, 29, 29); */
  grid-row: 2/3;
  grid-column: 2/3;
}
.contenido {
  background: rgb(36, 138, 78);
  grid-row: 2/3;
  grid-column: 1/2;
}
.parrafo {
  color: rgb(0, 0, 0);
  margin: 60px;
  font-family: "Oswald";
  font-size: 25px;
  text-align: justify;
}
.boton {
  /* position: absolute; */
  text-align: center;
  margin-top: 222px;
  margin-left: 220px;
  margin-right: 150px;
  width: 100px;
  height: 30px;
  background: #fdfdfd;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1.5px solid #f60505;

  font-family: "Oswald";
  font-size: 23px;
}
.boton2 {
  position: absolute;
  text-align: center;
  margin-top: -73px;
  margin-left: 500px;
  margin-right: 150px;

  width: 100px;
  height: 30px;
  background: #fdfdfd;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1.5px solid #f60505;

  font-family: "Oswald";
  font-size: 23px;
}
