* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

#HeaderBody {
  background: #3064ea;
  height: 100px;
  display: grid;
  grid-template: auto / 150px auto 0.2fr;
}

#Icon {
  grid-column: 1 / 2;
  text-align: center;
}

#imageIcon {
  width: 75px;
  height: 75px;
  margin-top: 12px;
  border-radius: 50px;
}

#title {
  text-align: center;
  grid-column: 2 / 3;
}

#imgcorrupcion {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  position: absolute;
  left: 40px;
  top: 12px;
}

#texto {
  margin-top: 30px;
  color: #ffffff;
}

#botonContainer {
  grid-column: 3 / 4;
}

.botones {
  position: relative;
  width: 150px;
  background: #1e1eeb;
  color: #ffffff;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}
