.imgPartidos {
  width: 50px;
  height: 50px;
  margin-top: 12px;
  border-radius: 50px;
}
#title {
  margin-top: -2%;
  color: #fdfdfd;
  line-height: 0.5;
  font-size: 3em;
  text-align: center;
  font-family: "Oswald";
  font-size: 22px;
}

#inicioCiudadano {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}
#listapartidos {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}
#consultarlista{
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}
#titleTable {
  border: 1px solid #000;
  background: #3064ea;
}

th {
  background: #678def;
}

th,
td {
  width: 25%;
  text-align: center;
  border: 1px solid #000;
}

.Logos {
  width: 25%;
}

.Nombres {
  width: 50%;
}

.Vistas {
  width: 25%;
}
.Nombre {
  height: 60px;
}

#menudes {
  margin-top: -45px;
  margin-left: 263px;
  grid-row: 2/3;
  grid-column: 1/3;
  padding: -10px 74px;
}
ul,
ol {
  list-style: none;
}
#menudes li {
  padding: -5px 98px;
}
.nav li a {
  margin: 18px;
  border: 1.5px solid rgb(0, 21, 66);
  background-color: #1e4abb;

  color: #fff;
  text-decoration: none;
  padding: 7px 17px;
  display: block;
}
.nav li a:hover {
  background-color: rgb(18, 18, 19);
}
.nav > li {
  float: left;
}
.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}
.nav li:hover > ul {
  display: block;
}
.nav li ul li {
  position: relative;
}
