* {
    border:0;
    margin: 0;
    box-sizing: border-box;
}
.contenedor {
    /* border: 5px solid red; */
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 100px auto / 0.2fr 1fr;
}
.header {
    background: #3064ea;
    grid-row: 1/2;
    grid-column: 1/3;
    position: relative;
    /* grid-template-areas: "";  */
    
}
.titulo {
    color: #ffffff;
    margin: -25px 0 0 -25px;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 40%;
    /* font-family: "Oswald"; */
    font-size: 2em;
    font-weight: bold;
}
  
.menu {
    /* background: rgb(128, 29, 29); */
    grid-row: 2/3;
    grid-column: 2/3;
}

#usuario {
    color: rgb(0, 0, 0);
    margin: 60px;
    font-family: "Oswald";
    font-size: 50px;
    text-align: justify;
    position: absolute;
    left: 600px;
    top: 100px;
}
#user{
    margin: 30px;
    border:  2px solid #000000;
    font-family: "Oswald";
    font-size: 30px;
    text-align: justify;
    position: absolute;
    left: 480px;
    top: 250px;
    background: #ffffff;
    opacity: 0.7;
    width: 480px;
    height: 36px;
    color: #eb0000;
}
  /* input::placeholder{
      color: #110f0f;
  } */
#contraseña {
    color: rgb(0, 0, 0);
    margin: 60px;
    font-family: "Oswald";
    font-size: 50px;
    text-align: justify;
    position: absolute;
    left: 550px;
    top: 300px;
}
#password{
    margin: 30px;
    border: 2px solid #000000;
    font-family: "Oswald";
    font-size: 30px;
    text-align: justify;
    position: absolute;
    left: 480px;
    top: 450px;
    background: #ffffff;
    opacity: 0.7;
    width: 480px;
    height: 36px;
    color: #eb0000;
}

.boton {
    /* position: absolute; */
    text-align: center;
    margin-top: 450px;
    margin-left: 430px;
    margin-right: 150px;
    width: 150px;
    height: 30px;
    background: #1e1eeb;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    /* border: 2px solid #f60505; */
    border-radius: 10px;
    cursor: pointer;
    font-family: "Oswald";
    font-size: 23px;
    color: #ffffff;
}
/* .boton:hover{
      background-color: #b3b1b1;
}
.boton:visited{
    color: #ffffff;
} */
#texto{
    color: rgb(0, 0, 0);
    margin: 60px;
    font-family: "Oswald";
    font-size: 30px;
    text-align: justify;
    position: absolute;
    left: 530px;
    top: 600px;
}
#error{
    color: rgb(0, 0, 0);
    margin: 60px;
    font-family: "Oswald";
    font-size: 30px;
    text-align: justify;
    position: absolute;
    left: 400px;
    top: 550px;
}
#imgcorrupcion{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    position: absolute;
    left: 40px;
    top: 12px;
}
  