body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.contenedor {
  /* border: 5px solid red; */
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 120px auto / 0.2fr 1fr;
}
.header {
  background: #1e4abb;
  grid-row: 1/2;
  grid-column: 1/3;
  background: #3064ea;
  height: 100px;
  display: grid;
  grid-template: 100px 50px 50px 50px 50px / 150px auto 0.2fr;
  /* grid-template-areas: "";  */
}
#Icon {
  grid-column: 1 / 2;
  text-align: center;
}
#imageIcon {
  width: 75px;
  height: 75px;
  margin-top: 12px;
  border-radius: 50px;
}

.contenido {
  background: rgb(255, 255, 255);

  grid-row: 2/3;
  grid-column: 2/4;
}
.menu {
  background: rgb(255, 255, 255);
  grid-row: 2/3;
  grid-column: 1/2;
}
.cdimg {
  width: 100px;
  height: 100px;
  margin: 25px 25px;
  border-radius: 300px;
}
.conservadorimg {
  width: 100px;
  height: 100px;
  margin: 25px 25px;
  border-radius: 300px;
}
.liberalimg {
  width: 100px;
  height: 100px;
  margin: 5px 25px;
  border-radius: 300px;
}
.partidouimg {
  width: 100px;
  height: 100px;
  margin: 25px 25px;
  border-radius: 300px;
}
.titulo {
  color: #fdfdfd;
  line-height: 0.5;
  font-size: 3em;
  text-align: center;
  font-family: "Oswald";
  font-size: 50px;
}
.parrafo {
  color: rgb(0, 0, 0);
  margin: 60px;
  font-family: "Oswald";
  font-size: 25px;
  text-align: justify;
}
.imagenes {
  /* display: grid;
  grid-template: auto auto / auto auto; */
  text-align: center;
  width: 48vw;
  height: 100vh;
}

.botoningreso {
  position: relative;
  top: 78px;
  left: 161px;
  background: #1e1eeb;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 15px;
  margin: 50px;
  border-radius: 10px;
}

.botonregistro {
  position: relative;
  top: 78px;
  left: 157px;
  background: #1e1eeb;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 15px;
  margin: 50px;
  border-radius: 10px;
}
#figuraingreso {
  top: 179px;
  left: 168px;
  font-size: 110px;
  color: #c7c7ce;
  margin-left: 0px;
}
#figuraregistro {
  top: 179px;
  left: 270px;
  text-align: center;
  font-size: 110px;
  color: #c7c7ce;
}
