{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'app/css/aprobar_individuo.css' %}"/>
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}" />
    <title>Afiliar individuo</title>
  </head>
  <body>
    <div id="HeaderBody">
      <div id="Icon">
        <img
          src="{% static 'app/img/inicio.png' %}"
          id="imageIcon"
          onclick="location.href='{% url 'app:inicio' %}'"
        />
      </div>
      <div id="title"><h1 id="texto">#NoMasCorrupcion</h1></div>
      <div id="botonContainer">
        <button
          id="uptade"
          class="botones"
          onclick="location.href='{% url 'app:cambiar_datos_view' %}'"
        >
          Mi cuenta
        </button>
        <button
          id="LogOut"
          class="botones"
          onclick="location.href='{% url 'app:principal' %}'"
        >
          Cerrar Sesión
        </button>
      </div>
    </div>
    <div id="content">
      <form action="afiliar_individuo_form" method="post">
        {% csrf_token %}
        <fieldset>
          <h1>Id Individuo <span>*</span></h1>
          <br />
          <select name="selec_ind">
            {% for i in ruta %}
            <option value="{{i.id}}">{{i.nombres}} {{i.apellidos}}</option>
            {% endfor %}
          </select>
          <h1>Id Partido<span>*</span></h1>
          <br />
          <select name="selec_part">
            <!-- {% for i in rutap %} -->
            <option value="{{i.id}}">{{i.nombre}}</option>
            <!-- {% endfor %} -->
          </select>
          <h1>Fecha de ingreso<span></span></h1>
          <br />
          <input type="date" name="startDate" />
          <br />
          <h1>Fecha de salida<span></span></h1>
          <input type="date" name="endDate"/><br />
          <button type="submit" class="botones" id="aceptar"
          onclick="location.href='{% url 'app:afiliar_individuo_view' %}'">
          Aceptar
          </button>

        </fieldset>


      </form>

      <br />

      <!-- <button
       class="botones"
        id="aceptar"
        onclick="location.href='{% url 'app:afiliar_individuo_view' %}'">
        Aceptar
      </button> -->
      <button
        class="botones"
        id="aceptar"
        onclick="location.href='{% url 'app:inicio' %}'">
        Regresar
      </button>

    </div>
  </body>
</html>
