{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/aprobarProceso.css" /> -->

    <link
      rel="stylesheet"
      href="{% static 'app/css/consultar_lista_partido.css' %}"
    />
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/implicarAfiliado.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/inicio.css' %}" />

    <title>Aprobar afiliación</title>
  </head>
  <body>
    <div id="HeaderBody">
      <div id="Icon">
        <img
          src="{% static 'app/img/inicio.png' %}"
          id="imageIcon"
          onclick="location.href='{% url 'app:inicio' %}'"
        />
      </div>
      <div id="title"><h1 id="texto">#NoMasCorrupcion</h1></div>
      <div id="botonContainer">
        <button
          id="uptade"
          class="botones"
          onclick="location.href='{% url 'app:cambiar_datos_view' %}'"
        >
          Mi cuenta
        </button>
        <button
          id="LogOut"
          class="botones"
          onclick="location.href='{% url 'app:principal' %}'"
        >
          Cerrar Sesión
        </button>
      </div>
    </div>
    <div id="content">
      <form action="{% url 'app:aprobar_afiliacion_post' %}" method="post">
        {% csrf_token %}
        <fieldset>
          <h1>Individuo <span>*</span></h1>
          <br />
          <select name="seleccionar_ind">
            {% for i in holi %}
            <option value="{{i.id}}">
              {{i.id_individuo.nombres}} {{i.id_individuo.apellidos}}. Afiliado
              a: {{i.id_partido.nombre}}
            </option>
            {% endfor %}
          </select>
          <br />
          <br />
          <h1>Aprobación<span>*</span></h1>
          <br />
          <select name="seleccionar">
            <option value="10">Aprobado</option>
            <option value="11">Desaprobado</option></select
          ><br /><br />
        </fieldset>
        <button class="botones" id="aceptar">Aceptar</button><br />
      </form>

      <button
        class="botones"
        id="aceptar"
        onclick="location.href='{% url 'app:inicio' %}'"
      >
        Regresar
      </button>
      <br />
    </div>
  </body>
</html>
