{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'app/css/aprobar_individuo.css' %}"
    />
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}" />
    <title>Aprobar individuo</title>
  </head>
  <body>
    <div id="HeaderBody">
      <div id="Icon">
        <img
          src="{% static 'app/img/inicio.png' %}"
          alt="corrupcion"
          id="imgcorrupcion"
          onclick="location.href='{% url 'app:inicio' %}'"
        />
      </div>
      <div id="title"><h1 id="texto">#NoMasCorrupcion</h1></div>
      <div id="botonContainer">
        <button
          id="uptade"
          class="botones"
          onclick="location.href='{% url 'app:cambiar_datos_view' %}'"
        >
          Mi cuenta
        </button>
        <button
          id="LogOut"
          class="botones"
          onclick="location.href='{% url 'app:principal' %}'"
        >
          Cerrar Sesión
        </button>
      </div>
    </div>
    <div id="content">
      <form action="{% url 'app:aprobar_individuo_post' %}" method="post">
        {% csrf_token %}
        <fieldset>
          <h1>Individuo <span>*</span></h1>
          <br />
          <select name="seleccionar_ind">
            {% for i in individuos %}
            <option value="{{i.id}}">{{i.nombres}} {{i.apellidos}}</option>
            {% endfor %}
          </select>
          <br />
          <h1>Aprobación<span>*</span></h1>
          <br />
          <select name="seleccionar">
            <option value="10">Aprobar</option>

            <option value="11">No aprobar</option></select
          ><br />
        </fieldset>
        <button
        class="botones"
        id="aceptar"
      >
        Aceptar</button
      ><br />
      </form>
      
      <button
        class="botones"
        id="aceptar"
        onclick="location.href='{% url 'app:inicio' %}'"
      >
        Regresar
      </button>
      <br />
    </div>
  </body>
</html>
