{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto</title>
    <link rel="stylesheet" href="/css/cambiar_datos.css" />
    <link rel="stylesheet" href="{% static 'app/css/cambiar_datos.css' %}" />
    <!-- <link
    href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap"
    rel="stylesheet"
  /> -->
  </head>
  <body>
    <div class="contenedor">
      <div class="header">
        <div class="titulo">
          <p>#NoMasCorrupcion</p>
        </div>
        <img
        src="{% static 'app/img/inicio.png' %}"
        alt="corrupcion"
        id="imgcorrupcion"
        onclick="location.href='{% url 'app:inicio' %}'"
        />
        <div id="botonContainer">
          <button
          id="LogOut"
          class="botones"
          onclick="location.href='{% url 'app:principal' %}'"
          >
          Cerrar Sesión
          </button>
        </div>
      </div>
      <div class="menu">

        <form action="{% url 'app:cambiar_datos_form' %}" method="POST">
          {% csrf_token %}
          <fieldset>
            <Label id="usuario">Usuario </Label>
            <input id="user" type="text" name="usuario1" placeholder="Usuario" />
          </fieldset>
          <fieldset>
            <Label id="contraseña">Contraseña </Label>
            <input id="password" type="password" name="contraseña" placeholder="Contraseña" />
          </fieldset>
          <fieldset>
            <Label id="email">Email </Label>
            <input id="correo" type="email" name="email" placeholder="email" />
          </fieldset>
          <fieldset>
            <Label id="nombre">Nombre </Label>
            <input id="name" type="text" name="nombre" placeholder="Nombre" />
          </fieldset>
          <fieldset>
            <Label id="apellido"> Apellido </Label>
            <input id="lastname" type="text" name="apellido" placeholder="Apellido" />
          </fieldset>
          <fieldset>
            <button class="boton" type="submit">Actualizar</button>
          </fieldset>
          <br>

          <br>              
        </form> 
        <button class="boton2"  onclick="location.href='{% url 'app:inicio' %}'">Cancelar</button>
      </div>
    </div>
  </body>
</html>
