{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de partidos</title>
    <link rel="stylesheet" href="{% static 'app/css/consultar_lista_partido.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/implicarAfiliado.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/inicio.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="HeaderBody">
      <div id="Icon">
        <img src="{% static 'app/img/inicio.png' %}" id="imageIcon" onclick="location.href='{% url 'app:inicio' %}'"/>
      </div>
      <div id="title"><h1 id="texto">#NoMasCorrupcion</h1></div>
      <div id="botonContainer">
        <button
          id="uptade"
          class="botones"
          onclick="location.href='{% url 'app:cambiar_datos_view' %}'"
        >
          Mi cuenta
        </button>
        <button
          id="LogOut"
          class="botones"
          onclick="location.href='{% url 'app:principal' %}'"
        >
          Cerrar Sesión
        </button>
      </div>
    </div>

    <div id="content">
      <table id="listapartidos">
        <thead>
          <tr>
            <caption id="titleTable">
              Partidos Politicos
            </caption>
          </tr>
          <tr>
            <th>Nombre</th>
            <th>Número de procesos</th>
            <th>Cantidad de visitas</th>
          </tr>
        </thead>
        <tbody>
          
          {% for cat in listapartido %}
          <tr>
	          <td class="Nombre">{{ cat.partido.nombre }}</td>

            <td class="Procesos">{{ cat.procesos }}</td>

            <td class="Visitas">{{ cat.partido.vistas }}</td>
          </tr> 
          {% endfor %}
          

        </tbody>
      </table>

      <button
        class="botones"
        id="aceptar"
        onclick="location.href='{% url 'app:inicio' %}'"
      >
        Regresar</button
      ><br />
    </div>
  </body>
</html>
