{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="{% static 'app/css/consultar_lista_partido.css' %}"
    />
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/implicarAfiliado.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/inicio.css' %}" />

    <title>Consultar individuos</title>
  </head>
  <body>
    <div id="HeaderBody">
      <div id="Icon">
        <img
          src="{% static 'app/img/inicio.png' %}"
          id="imageIcon"
          onclick="location.href='{% url 'app:inicio' %}'"
        />
      </div>
      <div id="title"><h1 id="texto">#NoMasCorrupcion</h1></div>
      <div id="botonContainer">
        <button
          id="uptade"
          class="botones"
          onclick="location.href='{% url 'app:cambiar_datos_view' %}'"
        >
          Mi cuenta
        </button>
        <button
          id="LogOut"
          class="botones"
          onclick="location.href='{% url 'app:principal' %}'"
        >
          Cerrar Sesión
        </button>
      </div>
    </div>
    <div id="content">
      <br />
      <h1 id="titleProcess">{{proceso.nombre}}</h1>
      <br />
      <span id="views">Cantidad de visitas : {{i.vistas}}</span
      ><i class="fas fa-eye"></i><br /><br />
      <p id="dateStart">Fecha de nacimiento : {{i.fecha_nacimiento}}</p>
      <br />
      <table id="partidos">
        <thead>
          <tr>
            <caption id="titleTable">
              Partidos Politicos
            </caption>
          </tr>
          <tr>
            <th>Nombre</th>
            <th>Fecha de Inico</th>
            <th>Fecha de finalización</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="Nombres">Partido Liberal</td>
            <td class="startDate">0</td>
            <td class="endDate">0</td>
          </tr>
          <tr>
            <td class="Nombres">Partido conservador</td>
            <td class="startDate">0</td>
            <td class="startDate">0</td>
          </tr>
          <tr>
            <td class="Nombres">Partido de la U</td>
            <td class="startDate">0</td>
            <td class="endDate">0</td>
          </tr>
          <tr>
            <td class="Nombres">Partido centro ¿Democratico?</td>
            <td class="startDate">0</td>
            <td class="endDate">0</td>
          </tr>
        </tbody>
      </table>
      <br /><br />
      <table id="procesos">
        <thead>
          <tr>
            <caption id="titleTable">
              Procesos
            </caption>
          </tr>
          <tr>
            <th>Título proceso</th>
            <th>Fecha de Inico</th>
            <th>Fecha de fin</th>
            <th>Entidad</th>
            <th>Monto</th>
            <th>Comentarios proceso</th>
            <th>Estado</th>
            <th>Acusación</th>
            <th>Declarado</th>
            <th>Pena</th>
            <th>Comentarios implicación</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="Nombres">Corrupción 1</td>
            <td class="startDate">12/12/12</td>
            <td class="endDate">12/12/12</td>
            <td class="entidad">###</td>
            <td class="monto">###</td>
            <td class="cproceso">###</td>
            <td class="estado">Cerrado</td>
            <td class="acusacion">###</td>
            <td class="declarado">Culpable</td>
            <td class="pena">10 Años</td>
            <td class="implicación">###</td>
          </tr>
        </tbody>
      </table>
      <br />
      <button
        class="botones"
        id="return"
        onclick="location.href='./inicio.html'"
      >
        Regresar
      </button>
    </div>
  </body>
</html>
