{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Partido Politico</title>
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous"
  />
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/consultarProceso.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/consultar_partido.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/aprobar_individuo.css' %}"/>


</head>
<body>
    <div id="HeaderBody">
        <div id="Icon">
          <img src="{% static 'app/img/inicio.png' %}" id="imageIcon" onclick="location.href='{% url 'app:inicio' %}'"/>
        </div>
        <div id="title"><h1 id="texto">#NoMasCorrupcion</h1></div>
        <div id="botonContainer">
          <button id="uptade" class="botones" onclick="location.href='{% url 'app:cambiar_datos_view' %}'">Mi cuenta</button>
          <button id="LogOut" class="botones" onclick="location.href='{% url 'app:principal' %}'">Cerrar Sesión</button>
        </div>
      </div>
      <div id="header">

        <form action="consultar_partido_form" method="POST">
          {% csrf_token %}
          <fieldset>
            <h1>Partido <span>*</span></h1>
            <br />
            <select name="elegirp">
              {% for i in listapartidos %}
              <option value="{{i.id}}">{{i.nombre}}</option>
              {% endfor %}
            </select>
            <br />
 
          </fieldset>
          <button class="botones" id="aceptar" onclick="location.href='{% url 'app:consultar_partido_view' %}'">
          Aceptar
        </button>
        </form>

      </div>
      <div id="content">
          <br>
        <h1 id="titleProcess">

          <h1>{{ nombrepartido.nombre }}</h1>

        </h1><br>
        <span id="views">Cantidad de visitas : {{ nombrepartido.vistas}} </span><i class="fas fa-eye"></i><br /><br>
        <div id="tabla2">
          <table>
            <caption><h2>Procesos</h2></caption><br>
            <thead>
              <tr>
                <th>Cantidad de procesos</th>
                <th>Cantidad de procesos culpables</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {{ procesost }}
                </td>
                <td>
                  {{ procesosc }}
                </td>
              </tr>
            </tbody>
          </table>
        </div><br>
        <div id="tabla">
          
            <table>
                <caption><h2>Afiliados</h2></caption><br>
                <thead>
                  <tr>
                    <th>Apellidos</th>
                    <th>Nombres</th>
                    <th>Fecha de ingreso</th>
                    <th>Fecha de salida</th>
                  </tr>
                </thead>
                <tbody>
                    <!-- Perdon sotelo -->
                    {% for i in info %}
                    <tr>
                      <td>{{ i.id_individuo.apellidos }}</td>
                      <td>{{ i.id_individuo.nombres }}</td>
                    <td>
                      {% if i.fecha_ingreso %}
                        {{ i.fecha_ingreso }}
                      {% else %}  
                        Fecha no disponible 
                      {% endif %}
                    </td> 
                    <td>
                      {% if i.fecha_salida %}
                        {{ i.fecha_salida }}
                      {% else %}  
                        Fecha no disponible 
                      {% endif %}
                    </td> 
                      </tr>
                  {% endfor %}

                </tbody>
              </table>
        </div>
      <button class="botones" id="return"  onclick="location.href='{% url 'app:inicio' %}'">Regresar</button>
</body>
</html>