{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consultar lista de individuos</title>
    <link
      rel="stylesheet"
      href="{% static 'app/css/consultar_lista_partido.css' %}"
    />
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/implicarAfiliado.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/inicio.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div id="HeaderBody">
      <div id="Icon">
        <img
          src="{% static 'app/img/inicio.png' %}"
          id="imageIcon"
          onclick="location.href='{% url 'app:inicio' %}'"
        />
      </div>
      <div id="title"><h1 id="texto">#NoMasCorrupcion</h1></div>
      <div id="botonContainer">
        <button
          id="uptade"
          class="botones"
          onclick="location.href='{% url 'app:cambiar_datos_view' %}'"
        >
          Mi cuenta
        </button>
        <button
          id="LogOut"
          class="botones"
          onclick="location.href='{% url 'app:principal' %}'"
        >
          Cerrar Sesión
        </button>
      </div>
    </div>
    <div id="content">
      <table id="consultarlista">
        <thead>
          <tr>
            <caption id="titleTable">
              Lista de individuos
            </caption>
          </tr>
          <tr>
            <th>Apellidos</th>
            <th>Nombres</th>
            <th>Ultimo partido afiliado</th>
            <th>Cantidad total de procesos</th>
            <th>Aprobado/desaprobado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for i in individuos %}
            <td class="Apellidos">{{i.individuo.apellidos}}</td>
            <td class="Nombre">{{i.individuo.nombres}}</td>
            <td class="Ultimo">{{i.partido}}</td>
            <td class="Procesos">{{i.procesos}}</td>

            {% if i.individuo.aprobado %}
            <td class="aprobado">Aprobado</td>
            {% else %}
            <td class="aprobado">No Aprobado</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <button
        class="botones"
        id="aceptar"
        onclick="location.href='{% url 'app:inicio' %}'"
      >
        Regresar</button
      ><br />
    </div>
  </body>
</html>
