{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/aprobar_individuo.css' %}" />

    <title>Consultar partido</title>
  </head>
  <body>
    <div id="HeaderBody">
      <div id="Icon">
        <img src="{% static 'app/img/inicio.png' %}" id="imageIcon" onclick="location.href='{% url 'app:inicio' %}'"/>
      </div>
      <div id="title"><h1 id="texto">#NoMasCorrupcion</h1></div>
      <div id="botonContainer">
        <button
          id="uptade"
          class="botones"
          onclick="location.href='{% url 'app:cambiar_datos_view' %}'"
        >
          Mi cuenta
        </button>
        <button
          id="LogOut"
          class="botones"
          onclick="location.href='{% url 'app:principal' %}'"
        >
          Cerrar Sesión
        </button>
      </div>
    </div>
    <div id="content">
      <h1>Partido <span>*</span></h1>
      <br />
      <select>
        <option value="1">Partido 1</option>
        <option value="2">Proceso 2</option>
        <option value="3">Proceso 3</option>
       </select
      ><br />

      <button class="botones" id="aceptar" onclick="location.href='{% url 'app:consultar_partido_view' %}'">
        Confirmar</button
      ><br />
      <button
        class="botones"
        id="aceptar"
        onclick="location.href='{% url 'app:inicio' %}'">
        Regresar</button
      ><br />
    </div>
  </body>
</html>
