{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/aprobar_individuo.css' %}" />
    <title>Consultar individuo</title>
  </head>
  <body>
    <div id="HeaderBody">
      <div id="Icon">
        <img
          src="{% static 'app/img/inicio.png' %}"
          id="imageIcon"
          onclick="location.href='{% url 'app:inicio' %}'"
        />
      </div>
      <div id="title"><h1 id="texto">#NoMasCorrupcion</h1></div>
      <div id="botonContainer">
        <button
          id="uptade"
          class="botones"
          onclick="location.href='{% url 'app:cambiar_datos_view' %}'"
        >
          Mi cuenta
        </button>
        <button
          id="LogOut"
          class="botones"
          onclick="location.href='{% url 'app:principal' %}'"
        >
          Cerrar Sesión
        </button>
      </div>
    </div>
    <div id="content">
      <form action="{% url 'app:consultar_proceso_individual_view' %}" method="post">
        {% csrf_token %}
        <h1>Proceso <span>*</span></h1>
        <br />
        <select name="id">
          {% for proceso in procesos %}
            <option value="{{ proceso.id }}">{{ proceso.titulo }}</option>
          {% endfor %}
         </select
        ><br />
        <button class="botones" id="aceptar">
          Confirmar</button
        ><br />
      </form>
      <button class="botones" id="cancelar" onclick="location.href=`{% url 'app:inicio' %}`">Cancelar</button>
    </div>
  </body>
</html>
