{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consultar Individuo</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/consultarProceso.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'app/css/consultarIndividuo.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'app/css/consultar_partido.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'app/css/aprobar_individuo.css' %}"
    />
  </head>
  <body>
    <div id="HeaderBody">
      <div id="Icon">
        <img
          src="{% static 'app/img/inicio.png' %}"
          id="imageIcon"
          onclick="location.href='{% url 'app:inicio' %}'"
        />
      </div>
      <div id="title"><h1 id="texto">#NoMasCorrupcion</h1></div>
      <div id="botonContainer">
        <button
          id="uptade"
          class="botones"
          onclick="location.href='{% url 'app:cambiar_datos_view' %}'"
        >
          Mi cuenta
        </button>
        <button
          id="LogOut"
          class="botones"
          onclick="location.href='{% url 'app:principal' %}'"
        >
          Cerrar Sesión
        </button>
      </div>
    </div>
    <div id="header">
      <form action="consultar_individuo_form" method="POST">
        {% csrf_token %}
        <fieldset>
          <h1>Individuo<span>*</span></h1>
          <br />
          <select name="elegirp">
            {% for i in individuos %}
            <option value="{{i.id}}">{{i.nombres}} {{i.apellidos}}</option>
            {% endfor %}
          </select>
          <br />
        </fieldset>
        <button
          class="botones"
          id="aceptar"
          onclick="location.href='{% url 'app:consultar_individuo_view' %}'"
        >
          Aceptar
        </button>
      </form>
    </div>
    <div id="content">
      <br />
      <h1 id="titleProcess">
        <h1>{{persona.nombres}} {{persona.apellidos}}</h1>
      </h1>
      <br />
      <!-- <span id="views">Cantidad de visitas : {{ persona.vistas}} </span><i class="fas fa-eye"></i><br /><br> -->
      <div id="tabla1">
        <table>
          <caption>
            <h2>Datos</h2>
          </caption>
          <br />
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Fecha de nacimiento</th>
              <th>Cantidad de visitas</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ persona.nombres }}</td>
              <td>{{ persona.apellidos }}</td>
              <td>{{persona.fecha_nacimiento}}</td>
              <td>{{persona.vistas}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />
      <div id="tabla2">
        <table>
          <caption>
            <h2>Afiliaciones</h2>
          </caption>
          <br />
          <thead>
            <tr>
              <th>Partido Politico</th>
              <th>Fecha de ingreso</th>
              <th>Fecha de salida</th>
            </tr>
          </thead>
          <tbody>
            {% for i in lista %}
            <tr>
              <td>{{ i.id_partido.nombre }}</td>

              <td>
                {% if i.fecha_ingreso %} {{ i.fecha_ingreso }} {% else %} Fecha
                no disponible {% endif %}
              </td>
              <td>
                {% if i.fecha_salida %} {{ i.fecha_salida }} {% else %} Fecha no
                disponible {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="tabla3">
        <table>
          <caption>
            <h2>Procesos</h2>
          </caption>
          <br />
          <thead>
            <tr>
              <th>Inicio de Proceso</th>
              <th>Fin de Proceso</th>
              <th>Titulo del proceso</th>
              <th>Entidad</th>
              <th>Monto</th>
              <th>Comentarios</th>
              <th>Abierto/Cerrado</th>
              <th>Acusación</th>
              <th>Culpable/Inocente</th>
              <th>Pena</th>
              <th>Comentarios de la implicación</th>
            </tr>
          </thead>
          <tbody>
            {% for i in implicacion %}
            <tr>
              <td>{{i.id_proceso.fecha_inicio}}</td>

              {% if i.id_proceso.fecha_fin %}
              <td>{i.id_proceso.fecha_fin}</td>
              {% else %}
              <td>Fecha no disponible</td>
              {% endif %}

              <td>{{i.id_proceso.titulo}}</td>
              <td>{{i.id_proceso.entidad}}</td>
              <td>{{i.id_proceso.monto}}</td>
              <td>{{i.id_proceso.comentarios}}</td>

              {% if i.id_proceso.abierto %}
              <td>Abierto</td>
              {% else %}
              <td>Cerrado</td>
              {% endif %}

              <td>{{i.acusacion}}</td>

              {% if i.culpable %}
              <td>Culpable</td>
              {% else %}
              <td>Inocente</td>
              {% endif %}

              <td>{{i.pena}}</td>
              <td>{{i.comentarios}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <button
      class="botones"
      id="return"
      onclick="location.href='{% url 'app:inicio' %}'"
    >
      Regresar
    </button>
  </body>
</html>
