{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/consultarIndividuo.css' %}" />
    <title>Consultar Proceso</title>
  </head>
  <body>
    <div id="HeaderBody">
      <div id="Icon">
        <img
          src="{% static 'app/img/inicio.png' %}"
          id="imageIcon"
          onclick="location.href='{% url 'app:inicio' %}'"
        />
      </div>
      <div id="title"><h1 id="texto">#NoMasCorrupcion</h1></div>
      <div id="botonContainer">
        <button
          id="uptade"
          class="botones"
          onclick="location.href='{% url 'app:cambiar_datos_view' %}'"
        >
          Mi cuenta
        </button>
        <button
          id="LogOut"
          class="botones"
          onclick="location.href='{% url 'app:principal' %}'"
        >
          Cerrar Sesión
        </button>
      </div>
    </div>
    <div id="content">
        <br>
      <h1 id="titleProcess">{{ proceso.titulo }}</h1><br>
      <span id="views">Cantidad de visitas : {{ proceso.vistas }} </span><i class="fas fa-eye"></i><br /><br>
      <p id="dateStart">Fecha de inicio : {{ proceso.fecha_inicio }}</p><br>
      <table id="procesos">
        <thead>
          <tr>
            <caption id="titleTable">
              Procesos
            </caption>
          </tr>
          <tr>
            <th>Estado</th>
            <th>Entidad</th>
            <th>Monto</th>
            <th>Comentarios del proceso</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% if proceso.abierto %}
              <td class="estado">Abierto</td>
            {% else %}
            <td class="estado">Cerrado</td>
            {% endif %}
            <td class="entidad">{{ proceso.entidad }}</td>
            <td class="monto">{{ proceso.monto }}</td>
            <td class="cproceso">{{ proceso.comentarios }}</td>
          </tr>
        </tbody>

      </table>
      <br /><br />
      <table id="implicados">
        <thead>
          <tr>
            <caption id="titleTable">
              Lista de implicados
            </caption>
          </tr>
          <tr>
            <th>Nombre</th>
            <th>Partido politico actual</th>
            <th>Fecha de acusación</th>
            <th>acusación</th>
            <th>Veredicto</th>
            <th>Pena</th>
            <th>Comentarios implicación</th>
          </tr>
        </thead>
        <tbody>
            {% for implicado in implicados %}
            <tr></tr>
                <td class="Nombres">{{ implicado.id_afiliado.id_individuo.nombres }} {{ implicado.id_afiliado.id_individuo.apellidos }}</td>
                <td class="partido">{{ implicado.id_afiliado.id_partido.nombre }}</td>
                <td class="fechaacusacion">{{ implicado.fecha }}</td>
                <td class="acusacion">{{ implicado.acusacion }}</td>
                {% if proceso.abierto %}
                  <td class="declarado">Culpable</td>
                {% else %}
                  <td class="declarado">Inocente</td>
                {% endif %}
                <td class="pena">{{ implicado.pena }}</td>
                <td class="cimplicacion">{{ implicado.comentarios }}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      <br>
      <button class="botones" id="return" onclick="location.href=`{% url 'app:consultar_proceso_view' %}`">Regresar</button>
  </div>

  </body>
</html>
