{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear Partido político</title>
    <link rel="stylesheet" href="{% static 'app/css/crear_partido.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}" />
  </head>
  <body>
    <div id="HeaderBody">
      <div id="Icon">
        <img
          src="{% static 'app/img/inicio.png' %}"
          id="imageIcon"
          onclick="location.href='{% url 'app:inicio' %}'"
        />
      </div>
      <div id="title"><h1 id="texto">#NoMasCorrupcion</h1></div>
      <div id="botonContainer">
        <button
          id="uptade"
          class="botones"
          onclick="location.href='{% url 'app:cambiar_datos_view' %}'"
        >
          Mi cuenta
        </button>
        <button
          id="LogOut"
          class="botones"
          onclick="location.href='{% url 'app:principal' %}'"
        >
          Cerrar Sesión
        </button>
      </div>
    </div>
    <div id="content">
      <br />
      <p id="nombre">Nombre <span>*</span></p>
      <form action="{% url 'app:form_crear_partido' %}" method="post">
        {% csrf_token %}
        <input id="user" type="text" name="nombre" placeholder="Nombre" />
        <button class="botones" id="aceptar" onclick="location.href='#'">
        Confirmar</button
       ><br />
       </form>
      <button
        class="botones"
        id="aceptar"
        onclick="location.href=`{% url 'app:inicio' %}`"
      >
        Regresar</button
      ><br />
    </div>
  </body>
</html>
