{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'app/css/implicarAfiliado.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}" />
    <title>Crear proceso</title>
  </head>
  <body>
    <div id="HeaderBody">
      <div id="Icon">
        <img
          src="{% static 'app/img/inicio.png' %}"
          id="imageIcon"
          onclick="location.href='{% url 'app:inicio' %}'"
        />
      </div>
      <div id="title"><h1 id="texto">#NoMasCorrupcion</h1></div>
      <div id="botonContainer">
        <button
          id="uptade"
          class="botones"
          onclick="location.href='{% url 'app:cambiar_datos_view' %}'"
        >
          Mi cuenta
        </button>
        <button
          id="LogOut"
          class="botones"
          onclick="location.href='{% url 'app:principal' %}'"
        >
          Cerrar Sesión
        </button>
      </div>
    </div>
    <div id="content">
      <form action="{% url 'app:form_crear_proceso' %}" method="post">
        {% csrf_token %}
        <h1>Título <span>*</span></h1>
        <br />
        <input type="text" name="title"/><br />
        <h1>Fecha de inicio<span>*</span></h1>
        <br />
        <input type="date" name="startDate" />
        <br />
        <h1>Fecha de finalización<span>*</span></h1>
        <input type="date" name="endDate"/><br />
        <h1>Estado<span>*</span></h1>
        <select name="state">
          <option value="1">Abierto</option>  
          <option value="0">Cerrado</option></select
        ><br />
        <h1>Entidad<span>*</span></h1>
        <input type="text" name="entidad"/>
        <h1>Monto</h1>
        <input type="text" name="monto"/><br />
        <h1>Comentarios</h1>
        <textarea id="comment" rows="5" cols="50" name="comentarios"></textarea><br />
        <button
          class="botones"
          id="create"
        >
          Crear Proceso</button
        ><br />
      </form>
      <button
        class="botones"
        id="cancel"
        onclick="location.href=`{% url 'app:inicio' %}`"
      >
        Cancelar
      </button>
    </div>
  </body>
</html>
