{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear individuo</title>
    <link rel="stylesheet" href="{% static 'app/css/crear_individuo.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}" />
</head>
<body>
    <div id="HeaderBody">
        <div id="Icon">
          <img
            src="{% static 'app/img/inicio.png' %}"
            id="imageIcon"
            onclick="location.href='{% url 'app:inicio' %}'"
          />
        </div>
        <div id="title"><h1 id="texto">#NoMasCorrupcion</h1></div>
        <div id="botonContainer">
          <button
            id="uptade"
            class="botones"
            onclick="location.href='{% url 'app:cambiar_datos_view' %}'"
          >
            Mi cuenta
          </button>
          <button
            id="LogOut"
            class="botones"
            onclick="location.href='{% url 'app:principal' %}'"
          >
            Cerrar Sesión
          </button>
        </div>
      </div>
    <div class="menu">
        <div class="parrafo">
            <p id="usuario">
                Nombre *
            </p>
            <form action="{% url 'app:form_crear_individuo' %}" method="post">
                {% csrf_token %}
                <input id="user" type="text" name="usuario" placeholder="Nombre">
                <p id="apellido">
                Apellido *
                </p>
                <input id="lastname" type="text" name="Apellido" placeholder="Apellido">
                <p id="fecha">
                Fecha de nacimiento
                </p>
                <input id="date" type="date" name="date" >
                <button class="botonesf1" id="consultar">Crear individuo</button>
            </form> 
    </div>
    
    <button class="botonesf2" id="cancelar" onclick="location.href=`{% url 'app:inicio' %}`">Cancelar</button>

</body>
</html>