body {
  margin: 0px;
  padding: 0px;
}
.contenedor {
  /* border: 5px solid red; */
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 120px auto / 0.2fr 1fr;
}
.header {
  background: #1e4abb;
  grid-row: 1/2;
  grid-column: 1/3;
  /* grid-template-areas: "";  */
}
.titulo {
  color: #fdfdfd;
  line-height: 0.5;
  font-size: 3em;
  text-align: center;

  font-family: "Oswald";
  font-size: 50px;
}

.menu {
  /* background: rgb(128, 29, 29); */
  grid-row: 2/3;
  grid-column: 2/3;
}
.contenido {
  background: rgb(255, 255, 255);
  grid-row: 2/3;
  grid-column: 1/2;
}

.cdimg {
  width: 100px;
  height: 100px;
  margin: 25px 25px;
  border-radius: 300px;
  /* border: 5px solid blue; */
}
.conservadorimg {
  width: 100px;
  height: 100px;
  margin: 25px 25px;
  border-radius: 300px;
}
.liberalimg {
  width: 100px;
  height: 100px;
  margin: 5px 25px;
  border-radius: 300px;
}
.partidouimg {
  width: 100px;
  height: 100px;
  margin: 25px 25px;
  border-radius: 300px;
}
.parrafo {
  color: rgb(0, 0, 0);
  margin: 60px;
  font-family: "Oswald";
  font-size: 25px;
  text-align: justify;
}
.imginicio {
  text-align: left;
  width: 100px;
  height: 100px;
  margin: 5px 25px;
}

.botoningreso {
  position: relative;
  top: 179px;
  left: 168px;
  background: #1e1eeb;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 15px;
  margin: 50px;
  border-radius: 10px;
}

.botonregistro {
  position: relative;
  top: 179px;
  left: 270px;
  background: #1e1eeb;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 15px;
  margin: 50px;
  border-radius: 10px;
}
#imginicio {
  list-style-type: none;
}
#imaginesinicio li {
  display: inline-block;
}
#figuraingreso {
  font-size: 50px;
  color: #c7c7ce;
  padding: 10px;
  margin: -15px 800px 70px 200px;
}
#figuraregistro {
  text-align: center;
  font-size: 50px;
  color: #c7c7ce;
  padding: 10px;
  margin: -15px 800px 70px 200px;
}
