{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/implicarAfiliado.css' %}" />
    <title>Implicar Afiliado</title>
  </head>
  <body>
    <div id="HeaderBody">
      <div id="Icon">
        <img
          src="{% static 'app/img/inicio.png' %}"
          id="imageIcon"
          onclick="location.href='{% url 'app:inicio' %}'"
        />
      </div>
      <div id="title"><h1 id="texto">#NoMasCorrupcion</h1></div>
      <div id="botonContainer">
        <button
          id="uptade"
          class="botones"
          onclick="location.href='{% url 'app:cambiar_datos_view' %}'"
        >
          Mi cuenta
        </button>
        <button
          id="LogOut"
          class="botones"
          onclick="location.href='{% url 'app:principal' %}'"
        >
          Cerrar Sesión
        </button>
      </div>
    </div>
    <div id="content">
      <form action="{% url 'app:implicar_afiliado_post' %}" method="post">
        {% csrf_token %}
        <h1>Id afiliado <span>*</span></h1>
        <br />
        <select name="afiliado">
          {% for afiliado in afiliados %}
            <option value="{{ afiliado.id }}">{{ afiliado.id_individuo.nombres }} {{ afiliado.id_individuo.apellidos }}</option>
          {% endfor %}
          </select
        ><br />
        <h1>Id proceso<span>*</span></h1>
        <br />
        <select name="proceso">
          {% for proceso in procesos %}
            <option value="{{ proceso.id }}">{{ proceso.titulo }}</option>
          {% endfor %}
          </select
        ><br />
        <h1>Fecha de implicación</h1>
        <input type="date" name="fecha_implicacion"/><br />
        <h1>Acusasión</h1>
        <input type="text" name="acusasion"/><br />
        <h1>Veredicto</h1>
        <select name="culpable">
          <option value="0">Inocente</option>
          <option value="1">Culpable</option></select
        ><br />
        <h1>Pena</h1>
        <input type="text" name="pena"/><br />
        <h1>Comentarios</h1>
        <textarea id="comment" rows="5" cols="50" name="comentarios"></textarea><br />
        <button
          class="botones"
          id="aceptar"
        >
          Aceptar</button
        ><br />
      </form>
      <button class="botones" id="cancelar" onclick="location.href=`{% url 'app:inicio' %}`">Cancelar</button>
    </div>
  </body>
</html>
