{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="{% static 'app/css/iniciar_sesion.css' %}" />
    <!-- <link
    href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap"
    rel="stylesheet"
  /> -->
  </head>
  <body>
    <div class="contenedor">
      <div class="header">
        <div class="titulo">
          <p>#NoMasCorrupcion</p>
        </div>
        <img
          src="{% static 'app/img/inicio.png' %}"
          alt="corrupcion"
          id="imgcorrupcion"
          onclick="location.href='{% url 'app:principal' %}'"
        />
      </div>
      <div class="menu">
        <div class="parrafo">
          <p id="usuario">Usuario *</p>
          <form action="{% url 'app:form_iniciar_sesion' %}" method="post">
            {% csrf_token %}
            <input id="user" type="text" name="usuario" placeholder="Usuario" />
            <p id="contraseña">Contraseña *</p>
            <input
              id="password"
              type="password"
              name="contraseña"
              placeholder="Contraseña"
            />
            <button
              class="boton"
              id="confirm"
            >Confirmar</button>
          </form>
        </div>

        <p id="error">Usuario o contraseña no validos, intentelo de nuevo</p>
        <p id="texto">
          ¿No tiene cuenta?
          <a href="{% url 'app:registro_view' %}" style="text-decoration: none"
            >Crear</a
          >
        </p>
      </div>
    </div>
  </body>
</html>