{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/implicarAfiliado.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/inicio.css' %}" />

    <title>Inicio</title>
  </head>
  <body>
    <div id="HeaderBody">
      <div id="Icon">
        <img
          src="{% static 'app/img/inicio.png' %}"
          id="imageIcon"
          onclick="location.href='{% url 'app:inicio' %}'"
        />
      </div>
      <div id="title"><h1 id="texto">#NoMasCorrupcion</h1></div>
      <div id="botonContainer">
        <button
          id="uptade"
          class="botones"
          onclick="location.href='{% url 'app:cambiar_datos_view' %}'"
        >
          Mi cuenta
        </button>
        <button
          id="LogOut"
          class="botones"
          onclick="location.href='{% url 'app:principal' %}'"
        >
          Cerrar Sesión
        </button>
      </div>
      <div id="menudes">
        <ul class="nav">
          <li>
            <a href="#">CREACIÓN</a>
            <ul>
              <li>
                <a href="{% url 'app:crear_partido_view' %}"
                  >Crear partido político</a
                >
              </li>
              <li>
                <a href="{% url 'app:crear_individuo_view' %}"
                  >Crear individuo</a
                >
              </li>
              <li>
                <a href="{% url 'app:crear_proceso_view' %}">Crear proceso</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#">CONSULTAS</a>
            <ul>
              <li>
                <a href="{% url 'app:consultar_lista_partido_view' %}"
                  >Consultar lista de partidos políticos</a
                >
              </li>
              <li>
                <a href="{% url 'app:consultar_partido_view' %}"
                  >Consultar partido político</a
                >
              </li>
              <li>
                <a href="{% url 'app:consultar_lista_view' %}"
                  >Consultar lista de individuos
                </a>
              </li>
              <li>
                <a href="{% url 'app:consultar_individuo_view' %}"
                  >Consultar individuo</a
                >
              </li>
              <li>
                <a href="{% url 'app:consultar_proceso_view' %}"
                  >Consultar proceso</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a href="#">APROBACION</a>
            <ul>
              <li>
                <a href="{% url 'app:aprobar_individuo_view' %}"
                  >Aprobar individuo</a
                >
              </li>
              <li>
                <a href="{% url 'app:aprobar_afiliacion_view' %}"
                  >Aprobar afiliación</a
                >
              </li>
              <li>
                <a href="{% url 'app:aprobar_proceso_view' %}"
                  >Aprobar proceso</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a href="#">OTROS</a>
            <ul>
              <li>
                <a href="{% url 'app:implicar_afiliado_view' %}"
                  >Implicar un afiliado en un proceso</a
                >
              </li>
              <li>
                <a href="{% url 'app:habilitar_ciudadano_view' %}"
                  >Habilitar/Deshabilitar ciudadano</a
                >
              </li>
              <li>
                <a href="{% url 'app:afiliar_individuo_view' %}"
                  >Afiliar individuo a partido</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div id="content">
      <table id="inicioCiudadano">
        <thead>
          <tr>
            <caption id="titleTable">
              Partidos Politicos
            </caption>
          </tr>
          <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Vistas</th>
          </tr>
        </thead>
        <tbody>
          {% for cat in listapartido %}
          <tr>
            <td class="Logos">
              <img
              src="{% static 'app/img/liberal.png' %}"
              class="imgPartidos"
              onclick="location.href='{% url 'app:consultar_partido_view' %}'"
            />
            </td>
	          <td class="Nombre">{{ cat.nombre }}</td>
            <td class="Visitas">{{ cat.vistas }}</td>
          </tr> 
          {% endfor %}

        </tbody>
      </table>
    </div>
  </body>
</html>
