{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'app/css/principal-estilo.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}" />
    <title>#NoMasCorrupcion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="contenedor">
      <div class="contenido">
        <div class="parrafo">
          <p>
            En aras de mantener la transparencia en la labor de los servidores
            públicos se ha propuesto contar con una plataforma en línea en la
            cual los ciudadanos puedan consultar de una manera simple y rápida
            los hechos de corrupción gubernamental y los actores que
            intervinieron en el mismo.
          </p>
        </div>
        <div class="imagenes">
          <a
            class="botoningreso"
            href="#"
            onclick="location.href='{% url 'app:iniciar_sesion_view' %}'"
            >INGRESAR</a
          >

          <i
            id="figuraingreso"
            class="fas fa-user"
            onclick="location.href='{% url 'app:iniciar_sesion_view' %}'"
          ></i>
          <a
            class="botonregistro"
            href="#"
            onclick="location.href='{% url 'app:registro_view' %}'"
            >REGISTRO</a
          >
          <i
            id="figuraregistro"
            class="fas fa-clipboard-list"
            onclick="location.href='{% url 'app:registro_view' %}'"
          ></i>
        </div>
      </div>
      <div class="header">
        <div id="Icon">
          <img src="{% static 'app/img/inicio.png' %}" id="imageIcon" />
        </div>
        <div class="titulo">
          <p>#NoMasCorrupcion</p>
        </div>
      </div>

      <div class="menu">
        <br />
        <img src="{% static 'app/img/cd.jpg' %}" class="cdimg" alt="Centro Democratico" />
        <img
          src="{% static 'app/img/conservador.png' %}"
          class="conservadorimg"
          alt="conservador"
        />
        <img src="{% static 'app/img/liberal.png' %}" class="liberalimg" alt="liberal" />
        <img src="{% static 'app/img/partidou.jfif' %}" class="partidouimg" alt="partidou" />
      </div>
    </div>
  </body>
</html>
