{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'app/css/registro.css' %}" />
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap"
      rel="stylesheet"
    /> -->
  </head>
  <body>
    <div class="contenedor">
      <div class="header">
        <div class="titulo">
          <p>#NoMasCorrupcion</p>
        </div>
        <img
          src="{% static 'app/img/inicio.png' %}"
          
          alt="corrupcion"
          id="imgcorrupcion"
          onclick="location.href='{% url 'app:inicio' %}'"
        />
      </div>
      <div class="menu">
        <form action="{% url 'app:form_registro_view' %}" method="POST">
          {% csrf_token %}
          <fieldset>
            <Label id="usuario">Usuario *</Label>
            <input id="user" type="text" name="usuario" placeholder="Usuario" />
          </fieldset>
          <fieldset>
            <Label id="contraseña">Contraseña *</Label>
            <input id="password" type="password" name="contraseña" placeholder="Contraseña" />
          </fieldset>
          <fieldset>
            <Label id="email">Email *</Label>
            <input id="correo" type="email" name="email" placeholder="email" />
          </fieldset>
          <fieldset>
            <Label id="nombre">Nombre *</Label>
            <input id="name" type="text" name="nombre" placeholder="Nombre" />
          </fieldset>
          <fieldset>
            <Label id="apellido"> Apellido *</Label>
            <input id="lastname" type="text" name="apellido" placeholder="Apellido" />
          </fieldset>
          <fieldset>
            <button class="boton" type="submit">Crear cuenta</button>
          </fieldset>
          <br>

          <br>              
        </form>  
      </div>
      <p id="texto1">
        ¿Ya tiene cuenta?
        <a href="{% url 'app:iniciar_sesion_view' %}" target="_blank" style="text-decoration: none">
          Ingresar </a>
      </p>
      


    </div>
  </body>
</html>
