#content {
  margin-left: 12%;
  margin-top: 5%;
  padding: 15px;
  height: 150%;
  background: #ffffff;
  border-radius: 10px;
  text-align: center;
  width: 75%;
}

select {
  width: 75%;
  background: #e9e9e9;
  text-align: center;
  height: 1.5rem;
}
