#content {
  margin-left: 12%;
  margin-top: 5%;
  padding: 15px;
  height: 150%;
  border-radius: 10px;
  text-align: center;
  width: 75%;
}

input {
  background: #e9e9e9;
  width: 75%;
  height: 1.5rem;
}

select {
  width: 75%;
  background: #e9e9e9;
  text-align: center;
  height: 1.5rem;
}

span {
  color: red;
}

#comment {
  height: 5rem;
  background: #e9e9e9;
  width: 75%;
}


